<% include header.ejs %>
<!-- Page Content-->
<main class="page-content">
    <!-- Breadcrumbs & Page title-->
    <section class="text-center section-34 section-sm-60 section-md-top-100 section-md-bottom-105 bg-image bg-image-breadcrumbs">
        <div class="shell shell-fluid">
            <div class="range range-condensed">
                <div class="cell-xs-12 cell-xl-preffix-1 cell-xl-11">
                    <p class="h3 text-white">Menu</p>
                    <ul class="breadcrumbs-custom offset-top-10">
                        <li><a href="/">Home</a></li>
                        <li class="active">Menu</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="section-50 section-sm-100">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-sm-6">
                    <div class="menu-classic bg-menu-1">
                        <h4 class="title"><a href="/menu-single" class="link-white">Burgers</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Classic Burger</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Beef / Onions / Hot pepper / Lettuce</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Mexican Burger</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Beef / Garlic / Coriander / Cheese / Onions</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Mini Burger</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Red onions / Minced beef / Black pepper / Cheese</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Double Burger</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Horseradish / Sour cream / Pepper / Lettuce / Beef </span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Chicken Burger</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>White chicken meat / Breadcrumbs / Onions / Peppers</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 offset-top-50 offset-sm-top-0">
                    <div class="menu-classic bg-menu-2">
                        <h4 class="title"><a href="/menu-single" class="link-white">Pizzas</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Meatza</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Beef / Sausage / Bacon / Mozarella cheese</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Supreme</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Beef / Sausage / Pepperoni / Mushrooms / Green peppers</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Veggie</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Green peppers / Onions / Mushrooms / Black olives</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Mushroom</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Shiitake / Portobello / Mozarella / Black pepper</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Pepperoni</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Spicy pepperoni / Fresh mozarella / Greek oregano</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 offset-top-50">
                    <div class="menu-classic bg-menu-3">
                        <h4 class="title"><a href="/menu-single" class="link-white">Toasts</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Tuna Salad</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Lettuce / Tomatoes / Tuna / Grain toast</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Chicken Pesto</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>All-natural chicken / Tomatoes / Arugula / Baguette</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Turkey Avocado</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Smoked turkey breast / Bacon / Lettuce / Toast</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Tomato Mozarella</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Roasted red peppers / Arugula / Basil / Baguette</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Roast Beef &amp; Cheddar</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Cheddar cheese / Lettuce / Roast beef / Sesame bread</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 offset-top-50">
                    <div class="menu-classic bg-menu-4">
                        <h4 class="title"><a href="/menu-single" class="link-white">Salads</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Chicken Salad</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Red cabbage / Cilantro / Sesame seeds / Wontons</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Caesar</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Parmesan cheese / Shrimp / Croutons / Salmon</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Italian Salad</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Roasted turkey breast / Salami / Beans / Tomatoes</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>California Cobb</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Applewood bacon / Avocado / Chicken / Tomatoes</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Waldorf Chicken Salad</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Grapes / Walnuts / Green apples / Field greens</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 offset-top-50">
                    <div class="menu-classic bg-menu-5">
                        <h4 class="title"><a href="/menu-single" class="link-white">Desserts</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Butter Cake</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Butter / Eggs / Milk</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Caramel Pudding</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Brown sugar / Eggs / Butter</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Key Lime Pie</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Biscuits / Sugar / Eggs / Butter</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Belgian Souffle Cake</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Cream / Sugar / Dark chocolate / Eggs</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Cheesecake</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Butter / Crackers / Cheese / Eggs / Sour cream</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-sm-6 offset-top-50">
                    <div class="menu-classic bg-menu-6">
                        <h4 class="title"><a href="/menu-single" class="link-white">Drinks</a></h4>
                        <ul class="list-menu">
                            <li>
                                <div class="menu-item h6"><span><span>Lemonade</span></span><span class="price">25.00</span></div>
                                <div class="menu-item-desc"><span>Lemon / Peach / Mango / Strawberry</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>iced Tea</span></span><span class="price">15.90</span></div>
                                <div class="menu-item-desc"><span>Raspberry / Mango / Orange</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Sparkling Water</span></span><span class="price">7.90</span></div>
                                <div class="menu-item-desc"><span>Perrier / San Pellegrino / Schweppes</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Coffee</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Espresso / Latte / Cappucino / Turkish coffee</span></div>
                            </li>
                            <li>
                                <div class="menu-item h6"><span><span>Fresh Juice</span></span><span class="price">23.90</span></div>
                                <div class="menu-item-desc"><span>Orange / Apple / Strawberry / Tomato</span></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="offset-top-50 offset-sm-top-100 text-center divider-custom">
                <div><a href="#" class="btn btn-md btn-shape-circle btn-primary-lighter">download full menu</a></div>
            </div>
        </div>
    </section>
    <section>
        <!-- RD Parallax-->
        <div data-on="false" data-md-on="true" class="rd-parallax rd-parallax-light">
            <div data-speed="0.2" data-type="media" data-url="/images/parallax-02.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0.05" data-type="html" class="rd-parallax-layer">
                <div class="shell section-80 section-sm-130">
                    <div class="range range-xs-center range-lg-bottom">
                        <div class="cell-md-9">
                            <div class="group-sm">
                                <h3 class="text-baseline">Fast Delivery</h3>
                                <div class="group-sm offset-top-15 offset-lg-top-0">
                                    <hr class="hr divider-xs bg-primary-lighter text-top veil reveal-lg-inline-block">
                                    <p class="big offset-lg-top-0 text-top">Enjoy our free, fast, and reliable delivery service.</p>
                                </div>
                            </div>
                        </div>
                        <div class="cell-lg-3"><a href="#" class="btn btn-shape-circle btn-white-outline btn-min-width-md">Learn more</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% include footer.ejs %>